@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-color: #f1f1f1;
    font-family: Roboto;
}
span
{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.429;
}
sup
{
    vertical-align: text-bottom;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    width: 916px;
    margin-top: 6px;
    background-color: #ffffff;
    border-radius: 5px;
}

.main-room {
    display: flex;
    flex-direction: row;
}

.main-room__photo {
    padding-left: 20px;
    padding-top: 16px;
    width: 287px;
    height: 265px;
    background-image: url("../img/room.jpg");
    background-repeat: no-repeat;
    border-radius: 5px 0 0 0;
    position: relative;
}
.main-room__photo__collection
{
    position: absolute;
    bottom: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    left: 235px;
}
.main-room__photo__collection p
{
    margin-right: 3px;
}
.main-room__photo__mask
{
    position: absolute;
    width: 276px;
    border-radius: 5px;
    height: 271px;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.2);
}

.main-room__photo__big-txt {
    color: #ffffff;
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}

.main-room__photo__middle-txt {
    color: #ffffff;
    position: relative;
    font-size: 19px;

}

.main-room__photo__yellow-block {
    width: 150px;
    height: 35px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fab91c;
    position: relative;
    top: 5px;
    right: 28px;
}
.main-room__info
{
    padding: 20px 0 0 20px;
    height: 251px;
    width: 76%;
    margin-bottom: 0;
    border-bottom: 1px solid #e1e1e1;
}
.main-room__info h1
{
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.main-room__info__more-btn, .other-propositions__more-btn
{
    background-color: rgba(0,0,0,.0);
    border: none;
    color: #3587e0;
    font-size: 16px;
    position: relative;
    left: 220px;
    font-weight: 600;
    bottom: 15px;
    cursor: pointer;
}
.main-room__info__settings, .main-room__info__facilities
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    width: fit-content;
}
.main-room__info__facilities
{
    border-bottom: none;
}
.main-room__info__settings ul, .main-room__info__facilities ul
{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}
.main-room__info__facilities__column-right,
.main-room__info__settings__column-right
{
    margin-left: 65px;
}

.main-room__info__settings__column-left li,
.main-room__info__settings__column-right li,
.main-room__info__facilities__column-left li,
.main-room__info__facilities__column-right li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    width: 145px;
}

.main-room__info__settings__column__adults img
{
    margin-left: 4px;
    margin-right: 3px;
}
.main-room__info__settings__column-left li span,
.main-room__info__settings__column-right li span,
.main-room__info__facilities__column-left li span,
.main-room__info__facilities__column-right li span
{
    margin-left: 13px;
}

.content__addition-info
{
    margin: 15px;
    font-family: 'Raleway', sans-serif;
    width: fit-content;
    font-size: 12.5px;
}

.other-proposition
{
    margin: 0 15px 10px 15px;
    border:1px solid #ededed;
    border-radius: 5px;
    width: calc(100% - 30px);
    padding: 15px 0;
    display: flex;
    position: relative;
}
.other-proposition-emphasized
{
    background-color: #eaf3fc;
    border: none;
    border-bottom: 3px solid #3587e0;
}
.other-proposition__left-column li, .other-proposition__right-column li
{
   display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    font-size: 15px;
}

.other-proposition__left-column li img, .other-proposition__right-column li img
{
   margin: 0 10px;
}
.row-list
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 45px;
}
.row-list img
{
    margin-left: 10px;
    position: relative;
    bottom: 6px;
}

li.list
{

    list-style-type: disc;
    display: list-item;
    position: relative;
}
.other-proposition__right-column
{
    margin-top: 3px;
}
.other-proposition__left-column__free-cancellation
{
    color: #42be56;
}
.other-proposition__right-column li
{
    margin-bottom: 15px;
    margin-left: 70px;
}
.other-proposition__price
{
    position: absolute;
    right: 270px;
}
.other-proposition__price h2
{
    font-size: 33px;
    margin-bottom: 10px;
}
.other-proposition__price p
{
    font-size: 13px;
}

.other-proposition__booking-btn
{
    right: 15px;
    position: absolute;
    width: 155px;
    height: 42px;
    border-radius: 5px;
    top: 45px;
    background-color: #42be56;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    transition: all ease 0.3s;
    outline: none;
}

.other-proposition__booking-btn:hover
{
    background: linear-gradient(top,#f4da71,#cca509);
    background: -webkit-linear-gradient(top,#f4da71,#cca509);
    background: -o-linear-gradient(top,#f4da718,#cca509);
    background: -moz-linear-gradient(top,#f4da71,#cca509);
    background: -ms-linear-gradient(top,#f4da71,#cca509);
    color: #fff;
    text-decoration: none;

}
.other-proposition__price__best
{
    color: #42be56;
}
h2.other-proposition__price__last-price
{
    font-size: 21px;
    color: #bcbcbc;
    text-decoration: line-through;
}

.other-propositions
{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}
.other-propositions__more-btn
{
position: inherit;

}

.other-proposition__swimming-pool {
    width: 222px;
    height: 34px;
    background-color: #3587e0;
    border-radius: 5px 5px 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.other-proposition__swimming-pool p {
    font-size: 13px;
    color: #ffffff;
}
.other-proposition__swimming-pool img
{
    margin-left: 12px;
    margin-right: 10px;
}



